.word {
  cursor: pointer;
}
.word:hover {
  /* font-weight: bold !important; */
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.hide {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  position: absolute;
}

.tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tag-list > * {
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 0;
}

/* Style the dropdown menu */
:global(.dropdown--hoverable:hover .dropdown__menu) {
  display: block;
}

:global(.dropdown__menu) {
  cursor: pointer;
}

:global(.dropdown__menu .dropdown__link) {
  cursor: pointer;
  transition: background-color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

:global(.dropdown__menu .dropdown__link:hover) {
  background-color: var(--ifm-dropdown-hover-background-color);
}

:global(.dropdown__menu .dropdown__link--active) {
  background-color: var(--ifm-dropdown-hover-background-color);
}
