body {
	font-family: "FontAwesome",Helvetica,Tahoma,Arial,"Microsoft YaHei","华文细黑",sans-serif;
}
footer{
	text-align: center;
}
footer img {
	width: 120px;
	height: 120px;
	margin-bottom: 20px;
}

.head-indent {
	text-indent: 2em;
}

.page-header {
	color: white;
	background-color: black;
}
.page-footer {
	border-top: 1px solid gray;
	padding: 19px 0px 20px;
	margin: 40px 0px 10px;
}

#progress-bar {
	height: 3px;
	background-color: orange;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 20;
}

#side-bar {
	font-size: 20px;
	padding: 10px 0px 10px 20px;
}
#side-bar ul {
	font-size: 0.9em;
	list-style-type: none;
	padding-left: 20px;
}
#side-bar > ul {
	display: block !important;
}
#side-bar a {
	color: gray;
}
#side-bar a:hover {
	color: black;
	text-decoration: none;
}
#side-bar .on-scroll {
	color: orange;
}

#foot-nav {
	font-size: 28px;
	text-align: center;
	color: white;
	height: 40px;
	line-height: 40px;
	position: fixed;
	right: 35px;
	bottom: 20px;
	z-index: 20;
}
#foot-nav > div {
	width: 40px;
	border-radius: 20px;
	background-color: black;
	float: right;
	margin-left: 10px;
	cursor: pointer;
}
#foot-nav a,#foot-nav a:hover {
	color: white;
	text-decoration: none;
}

li > pre {
	margin-left: -40px !important;
}