/* All */
html {
	height: 100%;
}
body {
	font-family: "FontAwesome", Helvetica, Tahoma, Arial, "Microsoft YaHei", "华文细黑", sans-serif;
	text-align: justify;
	height: 100%;
}
button {
	outline: none !important;
}
strong {
	font-weight: normal;
	color: orange;
	padding: 0 0.1rem;
}
blockquote {
	padding-left: 1rem;
	border-left: 3px solid gray;
}
pre {
	font-size: 80%;
}
li > pre {
	margin-left: -2.5rem !important;
}
.head-indent {
	text-indent: 2em;
}
#progress-bar {
	height: 3px;
	background-color: orange;
	z-index: 1040;
}

/* index */
#index-nav {
	background-color: rgba(0,0,0, .75);
	line-height: 1;
	padding: .5rem 1rem;
}
.index-nav-item {
	font-size: 2rem;
	color: white;
	width: 2.5rem;
	height: 2.5rem;
	margin-left: 1rem;
	padding: .25rem;
	border: .1rem solid gray;
	border-radius: .2rem;
	float: right;
	cursor: pointer;
}
.index-nav-item:hover {
	text-decoration: none;
	color: orange;
}
.index-nav-item:link, .index-nav-item:focus {
	text-decoration: none;
}
#index-content {
	min-height: 100%;
	position: relative;
}
#index-footer {
	background-color: rgb(42, 42, 42);
	padding: 1rem 0 3rem;
}
#index-footer img {
	width: 7.5rem;
	height: 7.5rem;
}

/* homepage */
#homepage-info {
	background: url(/source/images/bg.jpg) no-repeat;
	background-position: top center;
	background-size: cover cover;
	padding: 5rem 0;
	position: relative;
}
@media (min-width: 768px){
	#homepage-info {
		background-size: 100% 100%;
	}
}
#homepage-nav {
	position: absolute;
	right: 1rem;
	top: 2rem;
}
.homepage-nav-item {
	font-size: 1.2rem;
	color: white;
	background-color: rgba(244, 244, 244, .3);
	display: block;
	padding: .5rem;
	margin-bottom: .5rem;
}
.homepage-nav-item:hover {
	color: orange;
	text-decoration: none;
	background-color: rgba(244, 244, 244, .6);
}

/* categories.index */
.jumbotron {
	padding-bottom: 1rem;
}
li[id^="cate-"] {
	border-color: #fff;
}
li[id^="cate-"] .list-group-item-heading {
	cursor: pointer;
}

/* categories... */
#cate-side-bar, #ruby-side-bar {
	color: white;
	background-color: rgba(0,0,0, .75);
	padding: 2rem 1rem;
	position: fixed;
	left: -100%;
	z-index: 1020;
	height: 100%;
	overflow:  auto;	
}
#cate-side-bar ul, #ruby-side-bar ul {
	font-size: 0.9em;
	list-style-type: none;
	padding-left: 1rem;
}
#cate-side-bar > ul, #ruby-side-bar > ul {
	font-size: 1rem;
	list-style-type: disc;
	padding-left: 2rem;	
	display: block !important;
}
#cate-side-bar span, #ruby-side-bar a, #ruby-side-bar span {
	color: white;
	text-decoration: none;
	cursor: pointer;
}
#cate-side-bar .on-scroll, #ruby-side-bar .on-scroll {
	color: orange;
}
@media (max-width: 767px) {
	#cate-side-bar {
		top: 0 !important;
	}
}
@media (min-width: 768px) {
	#cate-side-bar {
		color: black;
		background-color: transparent;
		position: relative;
		left: 0 !important;
	}
	#cate-side-bar span {
		color: gray;
	}	
	#cate-side-bar span:hover {
		color: black;
	}
}

/* Book_of_Ruby.index */
.note {
	border: 1px solid rgba(88, 88, 88, .3);
	border-radius: 5px;
	box-shadow: 3px 3px 8px rgba(88, 88, 88, .8);
	padding: 1rem;
	margin-bottom: 1rem;
}
#ruby-side-bar {
	padding-bottom: 4rem;
}	
@media (min-width: 768px) {		
	#ruby-side-bar {
		background-color: rgba(0,0,0, 1);
		padding-left: 2rem;
		left: 0 !important;
		z-index: 1035;
		padding-bottom: 2rem;
	}
	#ruby-side-bar a:hover, #ruby-side-bar span:hover {
		color: orange;
	}
}

/* Book_of_Ruby... */
