/*! note content style */

/* Syntax highlighting plugin - highlight */
// @import '~highlight.js/styles/default.css';
@import '~highlight.js/styles/github-dark-dimmed.css';
@import './_custom-note.scss';

.page-note-content {
  min-height: 100vh;
  padding-bottom: 6rem;
}

/**
 * Side nav
 */
.H {
  position: absolute;
  left: 0;
  top: 330px;
  z-index: 1050;
  overflow: auto;
  font-size: 1.25rem;
  padding: 2rem 1rem 1rem 2.5rem;
  background-color: rgba($color: #000000, $alpha: 0.85);
  transition: left 0.8s ease-in-out;

  &.scroll {
    position: fixed;
    top: 0;
    height: 100%;
  }

  &.hide {
    left: -400px;
    overflow: visible;
  }

  > p {
    color: #aaa;
    cursor: pointer;
    margin-bottom: 0.5rem;

    &.active {
      color: orange;
      border-color: orange;
    }
  }

  .H-h1 {
    font-size: 1em;
  }

  .H-h2 {
    font-size: 0.95em;
    text-indent: 1rem;
  }

  .H-h3 {
    font-size: 0.9em;
    text-indent: 1.75rem;
  }

  .H-h4 {
    font-size: 0.85em;
    text-indent: 2.5rem;
  }

  .H-h5 {
    font-size: 0.8em;
    text-indent: 3.25rem;
  }

  .H-h6 {
    font-size: 0.75em;
    text-indent: 4rem;
  }

  .H-h2,
  .H-h3,
  .H-h4,
  .H-h5,
  .H-h6 {
    border-left: 2px solid transparent;
  }

  > .hide {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;

    &:hover {
      color: orange;
    }
  }

  @media screen and (min-width: 768px) {
    & {
      top: 345px;
    }
  }

  @media screen and (min-width: 1025px) {
    & {
      top: 315px;
    }
  }

  @media screen and (min-width: 1800px) {
    & {
      background-color: transparent;

      > p:hover {
        color: black;
      }

      > .hide {
        color: black;
        background-color: transparent;
      }
    }
  }
}
