/*！ Home page style */

[content="home"] {
    font-size: 1.15rem;
    
    .card {
        border: none;
        transition: all .4s linear;

        &:hover {
            box-shadow: 0 0 .5rem rgba(22, 22, 22, .5);
        }
    }

    .p-text {
        text-indent: 2em;
    }

    .side {

        .head {
            color: #ced4da;
        }
    }

    .links a {
        color: rgba(0, 123, 255, .75);
        text-decoration: underline;

        &:hover {
            color: #007bff;
        }
    }
}