/*! Document page style */

/* Syntax highlighting plugin - highlight */
@import '../../_components/highlight/highlight.scss';

/* Custom document style */
@import '../../_components/custom-doc-style/custom-doc.scss';

[content="docs"] {

    .badge {
        font-size: 1em;
    }

    .card {
        color: black;
        text-decoration: none;
        border: none;

        .card-title {
            font-weight: bold;
        }

        .card-text {
            font-size: 1.2rem;
        }

        > .card-footer {
            color: gray;
        }
    }

    > .cate,
    > .file {
        margin-bottom: 2rem;

        > h2 {
            padding: 0 2rem .5rem 1rem;
            border-bottom: 1px solid #ddd;

            > small {
                margin-top: 1em;
                font-size: .5em;
            }
        }
    }

    /**
     *  timeline block
     */
    .timeline-block {
        $color: rgba(0, 123, 255, 0.5);
        $color_hover: rgba(0, 123, 255, 1);

        margin-bottom: 0;

        > .time,
        > .content {
            position: relative;
            padding-top: .5rem;
            padding-bottom: 1rem;
            margin: 0;

            @media screen and (min-width: 768px) {
                &::after {
                    content: '';
                    position: absolute;
                    top: 1rem;
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 50%;
                    background-color: $color;
                }
            }
        }

        /* timeline block left time */
        > .time {

            @media screen and (min-width: 768px) {
                &::after {
                    right: -.75rem;
                }
            }
        }

        /* timeline block right content */
        > .content {

            @media screen and (min-width: 768px) {
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -2px;
                    height: 100%;
                    border-left: 4px solid $color;
                }

                &::after {
                    left: -.75rem;
                    background-color: $color_hover;
                    transition: all .4s linear;
                    transform: scale(.5);
                }
            }

            &:hover {
                &::before,
                &::after {
                    border-color: $color_hover;
                    transform: scale(1);
                }
            }
        }

        /* timeline block head */
        .head {
            font-size: 75%;

            @media screen and (min-width: 768px) {

            }
        }

        > .time > .head {
            color: #ced4da;
            font-weight: normal;

            @media screen and (min-width: 768px) {
                font-size: 1.75rem;
                font-weight: 700;
            }
        }

        > .content > .head {
            color: black;
            font-size: 1.75rem;
        }

        /* timeline block body */
        .body {
            font-weight: normal;
        }

        > .time > .body {

            @media screen and (max-width: 768px) {
                margin-left: .5rem;
            }
        }

    }

}